.loginContainer {
    position: relative;
    z-index: 1;
    text-align: center;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); 
    border-radius: 15px;
    padding: 30px;
    width: 320px;
    max-width: 90%;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5), 0px 0px 30px rgba(255, 0, 150, 0.3); 
    color: #fff;
    font-family: 'Poppins', sans-serif;
}