.navbar {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: top;
  justify-content: space-between;
  width: 100%;
  height: 110px;
  padding: 12px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgb(0, 0, 0));
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  box-sizing: border-box;
}

.title {
  padding-top: 10px;
  font-family: 'animeFont';
  font-size: 2rem;
  color: #ff80ab;
}

.navOptions {
  display: flex;
  margin-top: 0%;
  column-gap: 15px;
}

.navLink {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  transition: color 0.3s ease;
  white-space: nowrap;
  padding-top: 20px
}

.navLink:hover {
  color: #ff80ab;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.5rem;
  }

  .navLink {
    font-size: 1rem;
  }
}
