.mainMenuContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    padding-top: 80px;
    background: black;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 20px; 
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5), 0px 0px 30px rgba(255, 0, 150, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-sizing: border-box; 
}

.title {
    font-family: 'animeFont';
    font-size: 2rem;
    color: #ff80ab;
}

.navOptions {
    display: flex;
    gap: 15px; 
}

.navLink {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    transition: color 0.3s ease;
    white-space: nowrap; 
}

.navLink:hover {
    color: #ff80ab;
}

@media (max-width: 768px) {
    .title {
        font-size: 1.5rem;
    }
    .navLink {
        font-size: 1rem; 
    }
}