.mainMenuContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background: black;
    overflow: hidden;
    height: 100vh;
}

.parallaxCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Send canvas behind the content */
}

.titleContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation: scrollTitle 2s ease-in-out infinite;
}

.title {
    font-family: 'animeFont', sans-serif;
    font-size: 6rem; /* Adjust size for large text */
    color: #ff80ab;
    margin: 0;
    z-index: 1;
}

@keyframes scrollTitle {
    0% {
        transform: translate(-50%, -50%) translateY(-100px);
    }
    50% {
        transform: translate(-50%, -50%) translateY(0);
    }
    100% {
        transform: translate(-50%, -50%) translateY(100px);
    }
}
